/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/.vscode
/public/uploads/1668595290.jpg
/public/uploads/1668595652.jpg
/public/uploads/1668595744.jpg
/public/uploads/1668595989.jpg
/public/uploads/1668596164.jpg
/public/uploads/1668596306.jpg
/public/uploads/1668596319.jpg
/public/uploads/1668674136.jpg
/public/uploads/1668674209.jpg
/public/uploads/1668758191.jpg
/public/uploads/pdfs/1668594160export-221115-170034pdf.pdf
/public/uploads/pdfs/1668595290export-221115-170034pdf.pdf
/public/uploads/pdfs/1668595652export-221115-170034pdf.pdf
/public/uploads/pdfs/1668595701export-221115-170034pdf.pdf
/public/uploads/pdfs/1668595744offer-muhammadabubakar-masoodpdf.pdf
/public/uploads/pdfs/1668596164profilepdf.pdf
/public/uploads/pdfs/1668596306export-221115-170034pdf.pdf
/public/uploads/pdfs/1668596319export-221115-170034pdf.pdf
/public/uploads/pdfs/1668596331profilepdf.pdf
/public/uploads/pdfs/1668596573profilepdf.pdf
/public/uploads/pdfs/1668674136profilepdf.pdf
